.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.card {
  background-image:url(../public/texture.jpg);
  box-shadow: inset -2px -2px 6px 0 #0143a086,
  inset -35px 0px 66px 0 #001635a1;
}

.wifi-icon{
  transform: rotate(90deg);
}

#wifi{
  height: 100%;
  width: 100%;
}
.chip-img{
  background-image: url(./assets/chip.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.cardNum{
  font-family: "Barlow", sans-serif ;
  font-weight: 400;
  font-style: normal;
  word-spacing: 8px;
  text-shadow: 1px 0px 5px rgb(0, 0, 0),
  0px 1px 2px rgb(0, 0, 0),
  0px 0px 2px rgba(0, 0, 0, 0.404)
  ;
  color: rgb(230, 230, 230);

}
.cardNum2{
  font-weight: 400;
  font-style: normal;
  word-spacing: 8px;
  text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.959),
  0px 0px 4px rgba(0, 0, 0, 0.959),
  0px 2px 4px rgba(0, 0, 0, 0.959)
  ;
}
.cardNum3{
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-style: normal;
  word-spacing: 8px;
  text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.959),
  0px 0px 4px rgba(0, 0, 0, 0.959),
  0px 0px 4px rgba(0, 0, 0, 0.959),
  0px 2px 4px rgba(0, 0, 0, 0.959)
  ;
}
